* {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}
nav {
    padding: 10px;
    border-bottom: 1px solid rgb(184, 184, 184, 0.3);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.logo-container h3 {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigations a {
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: 14px;
    margin: 0 1rem;
    transition: color 0.2s ease;
}

.navigations a:hover {
    color: #9059f0;
}

.nav-links li {
    padding: 0 10px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}